@charset "UTF-8";

body {
    background-color: papayawhip;
    margin: 0px;
    padding: 0px;
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    
}

#img { 
    margin: 0px;
    width: 500px;
    height: 500px;
}

main, h1 {
    width: 200px;
    height: 100px;
    margin: 50px;
    size: 0.5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }